<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
    <style>
        body {
            background-color: #171717;
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
        }

        header {
            background-color: #1a1a1a;
            padding: 20px;
            display: flex;
            justify-content: space-between; /* logo po lewej, reszta po prawej */
            align-items: center;
        }

        .logo {
            color: #00bcd4;
            font-weight: 900;
            font-size: 28px;
            cursor: pointer;
            text-decoration: none;
            user-select: none;
        }

        .logo:hover {
            opacity: 0.8;
        }

        .nav-links {
            display: flex;
            align-items: center;
        }

        .nav-links a {
            color: #ffffff;
            text-decoration: none;
            margin-left: 20px;
            padding: 10px 15px;
            border: 2px solid #00bcd4;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s, color 0.3s;
        }

        .nav-links a:hover {
            background-color: #00bcd4;
            color: #000000;
        }

        .add-post-button {
            font-size: 24px;
            color: #00bcd4;
            cursor: pointer;
            user-select: none;
            border: 2px solid #00bcd4;
            border-radius: 5px;
            width: 16px;       /* szerokość kwadratu */
            height: 16px;      /* wysokość kwadratu */
            line-height: 16px; /* wyśrodkowanie pionowe */
            margin-right: 20px;
            text-align: center; /* wyśrodkowanie poziome */
            display: inline-block;
            text-decoration: none;
        }

        .add-post-button:hover {
            background-color: #00bcd4;
            color: #000000;
}
    </style>
</head>
<body>
    <header>
        <a href="{{ path('app_home_page') }}" class="logo">FeedbackCenter</a>

        <div class="nav-links">
            {% if app.user %}
                <a href="{{ path('post_add') }}" class="add-post-button">+</a>
                <span style="color: #fff; margin-right: 15px;">Hello, {{ app.user.nickname }}</span>
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}">Log In</a>
                <a href="{{ path('app_register') }}">Sign Up</a>
            {% endif %}
        </div>
    </header>

    <main>

    </main>
</body>
</html>
